.side-bar {
  background-color: #393a44;
  min-width: 200px;
}

.form-components {
  display: flex;
  flex-direction: column;
  font-weight: light;
}

input {
  margin-top: 5;
  width: 50%;
}

.buttons {
  width: 50%;
  display:flex;
}

button {
  width: 47%;
}

.purple-button {
  background-color: rgb(122, 55, 181);
  color: white;
}

.purple-button:hover {
  color:white;
  background-color:  rgb(79, 24, 126);
}