.helvetica {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.side-bar {
  background-color: rgb(107, 100, 237);
  min-width: 200px;
}

.date-title {
  font-style: italic;
  display: flex;
  flex-direction: column;
}

input {
  margin-top: 5;

}

.form-components {
  display: flex;
  flex-direction: column;
  font-weight: light;
}

.dash-title{
  margin-top:7px;
  display:flex;
  flex-direction: column;
  align-items:baseline;
  justify-content:space-between;
}

.dash-btns{
  color: black;
  border-radius: 10px;
}

.dash-btns:hover{
  color:rgb(107, 100, 237);
}

.submit-button {
  background-color: rgb(107, 100, 237);
  color: white;
}

.submit-button:hover {
  color:white;
  background-color: rgb(26, 20, 146);
}


.reservation-cards{
  background-color: rgb(255, 255, 255);
}

.list{
  margin-top: 10px;
  max-width: 400px;

}

.purple {
  background-color: rgb(237, 210, 241);
  border-radius: 2px;
  align-items: baseline;
}

.blue {
  background-color: lightblue;

}

@media (max-width:310px){
  .dash-title{
    display:flex;
    flex-direction: column;
    text-align: center;
  }
}

@media (min-width: 768px){
  .dash-title{

  }
}